body {}

svg {
    width: 99vh;
    height: 99vh;

    transition: width 2s, height 2s, transform 2s;

}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: 1s linear;
}

.draw {
    stroke-dashoffset: 0;
}

.cls-1,
.cls-2 {
    fill: none;
}

.cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

.draw {
    fill: blue;
}
